<div class="m-10">
  <div class="card flex justify-between items-center m-12">
    <div class="">
      <h1 class="text-2xl font-bold">Employees management</h1>
      <p>Use this page to navigate, create, update or delete employees.</p>
    </div>
    <p-button
      label="Create employee"
      aria-label="Create employee"
      icon="pi pi-plus"
      (click)="createVisible = true"
    />
  </div>

  @if (employees.length > 0) {

  <app-employee-table
    [employees]="employees"
    (employeeDeleted)="getEmployees()"
    (employeeUpdated)="getEmployees()"
  ></app-employee-table>

  } @else {
  <div class="flex w-full items-center">
    <p class="">No employees available</p>
  </div>
  }

  <app-employee-create-modal
    *ngIf="createVisible"
    [(visible)]="createVisible"
    (employeeCreated)="getEmployees()"
  ></app-employee-create-modal>
</div>
