<div class="flex flex-col gap-5 w-full min-h-dvh items-center justify-center">
  <div class="flex flex-col items-center gap-8">
    <p class="text-5xl">Employee Management</p>
    <p class="text-2xl">Login to manage all employees</p>
  </div>
  <p-card
    class="flex flex-col w-full items-center"
    [style]="{ width: '30rem' }"
  >
    <form [formGroup]="loginForm">
      <div class="items-center w-full gap-4 mb-5">
        <label for="email" class="font-semibold">Email</label>
        <input
          pInputText
          id="email"
          formControlName="email"
          fluid
          autocomplete="off"
        />
      </div>
      <div class="items-center w-full gap-4 mb-5">
        <label for="password" class="font-semibold">Password</label>
        <p-password
          id="password"
          formControlName="password"
          [feedback]="false"
          fluid
          [toggleMask]="true"
          autocomplete="off"
        />
      </div>
    </form>
    <div class="flex w-full justify-between">
      <p-button
        label="Register"
        aria-label="Register"
        variant="outlined"
        (click)="register()"
      />
      <p-button
        label="Login"
        aria-label="Login"
        [loading]="loading()"
        (click)="login()"
      />
    </div>
  </p-card>
</div>
